## Aggregation
**Nov 21, 2022**

## Aggregate Functions
So far, all SQL expressions have referred to the values in a single row at a time. 

An Aggregate function in the [`columns`] clause computes a value from a group of rows.

```SQL
create table animals as
    select "dog" as kind, 4 as legs, 20 as weight union
    select "cat"        , 4        , 10           union
    select "ferret"     , 4        , 10           union
    select "parrot"     , 2        , 6            union
    select "penguin"    , 2        , 10           union
    select "t-rex"      , 2        , 12000;


select max(legs - weight) + 5  from animals; -- 1
select max(legs), min(weight) from animals; -- 4 | 6
select min(legs), max(weight) from animals where kind <> "t-rex"; -- 2 | 20
select count(legs) from animals; -- how many different rows there are.
select count(*) from animals; -- more typical syntax since each column has same number of rows.
select count(distinct legs) from animals; -- counts the number of distinct legs (2)
select sum(distinct weight) from animals; -- 12036, leaves out the repeats and sums.
select max(weight), kind from animals; -- 12000 | t-rex 
```
- Note aggregate functions are computed independently, there is no animal with 4 legs and weight of 6.
- We can also use `where` clause.
- An aggregate function also selects a row in the table. So `max(weight)d` selects a row and you can also get the other columns of the row (`kind`).


### Groups
#### Grouping Rows
Rows in a table can be grouped, and aggregation is performed on each group.

```SQL
select [columns] from [table] group by [expression] having [expression];
```
The number of groups is the number of unique values of an expression. 

---
Recall the animals table from above.
```SQL
select legs, max(weight) from animals group by legs;
```
![](images/rowgrouping.png)


---
You can group by multiple columns, which will give you all the unique combinations of these two groups.
```SQL
select legs, weight from animals group by legs, weight;
```
---
You can group any kind of expression you want. This will give you the unique groups of weight/legs from table animals.
Note sql does integer division by default.
```SQL
select max(kind), weight/legs from animals group by weight/legs;
```

### Selecting Groups
A `having` clause filters the set of groups that are aggregated. A where clause filters individual rows, but a having clause can even include aggregation itself.


```SQL
select weight/legs, count(*) from animals group by weight/legs having count(*) > 1;
```
![](images/havingclause.png)